/* Google Fonts */
@import url("https://fonts.googleapis.com/css2?family=Cantarell:wght@400;700&family=Fjalla+One&family=Oswald:wght@200;300;400;500;600;700&family=Six+Caps&display=swap");
/* Variable */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html {
  font-size: 10px;
  scroll-behavior: smooth; }

body {
  overflow-x: hidden;
  font-family: "0swald", sans-serif; }

a,
button a,
.btn a {
  text-decoration: none;
  color: white; }

li {
  list-style-type: none; }

p {
  font-size: 1.5rem; }

img {
  width: 100%;
  max-width: 100%;
  height: auto; }

h2 {
  text-transform: uppercase;
  text-align: center;
  font-size: 3.6rem;
  letter-spacing: 4px;
  line-height: 32px;
  font-family: "Six Caps", sans-serif;
  font-weight: normal;
  color: #272729;
  padding: 15px 0; }

.btn {
  font-size: 1.4rem;
  padding: 0.5rem 2rem;
  background-color: white;
  border: 1px solid rgba(0, 0, 0, 0.1);
  color: gray; }
  .btn:hover {
    background-color: #1995ad;
    border: 1px solid rgba(0, 0, 0, 0.1);
    color: white; }

.card-title {
  margin: 2rem 0; }

section header .navbar-dark .navbar-nav .nav-link {
  color: white; }
section header .navbar {
  text-transform: uppercase;
  font-size: 1.5rem;
  font-family: "0swald", sans-serif;
  letter-spacing: 0.1rem;
  background: rgba(0, 0, 0, 0.6) !important; }
  section header .navbar .navbar-brand img {
    width: 7rem; }
  section header .navbar .navbar-nav {
    margin: 1rem 0; }
  section header .navbar .nav-item {
    padding: 1rem 1rem; }
    section header .navbar .nav-item .dropdown-menu {
      border-radius: 0.5rem;
      background: transparent;
      border: none;
      padding: 1rem 0; }
      section header .navbar .nav-item .dropdown-menu a {
        font-size: 1.1rem;
        transition: all 650ms ease-in;
        border-radius: 0.5rem;
        color: white;
        padding: 1rem 0; }
        section header .navbar .nav-item .dropdown-menu a:hover {
          background: rgba(0, 0, 0, 0.2) !important; }
section .landing {
  background: url("../assets/background-img.jpg") center no-repeat;
  background-size: cover;
  width: 100%;
  height: 100vh;
  position: relative; }
  section .landing::after {
    content: '';
    background: url("../assets/wave-small.png") center no-repeat;
    background-size: cover;
    position: absolute;
    left: 0;
    bottom: -1px;
    width: 100%;
    height: 4.7rem; }
  section .landing h1 {
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: "six caps", sans-serif;
    font-size: 5rem;
    letter-spacing: 0.2rem;
    text-shadow: 0.1rem 0.1rem 0.8rem rgba(0, 0, 0, 0.8); }

section .home-about-us {
  margin: 2rem 0; }
  section .home-about-us p {
    padding: 1rem 2rem; }
section .About-us-landing {
  background: url("../assets/photo_tcc.jpg") center no-repeat;
  background-size: cover;
  width: 100%;
  height: 30vh;
  position: relative;
  /*&::after
  {
    content: '';
    background: url("../assets/wave-small-reversed.png") center no-repeat;
    background-size: cover;
    position: absolute;
    left: 0;
    bottom: -4.7rem;
    width: 100%;
    height : 4.7rem;
  }*/ }
  section .About-us-landing::before {
    content: '';
    background: url("../assets/wave-small-reversed.png") center no-repeat;
    background-size: cover;
    position: absolute;
    left: 0;
    top: -1px;
    width: 100%;
    height: 4.7rem; }

section .home-last-event {
  padding: 5rem 0; }
  section .home-last-event .card-wrap {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
    section .home-last-event .card-wrap .card {
      width: 35rem;
      border-radius: 5px;
      margin-top: 2rem;
      -webkit-box-shadow: 0px 10px 10px -9px rgba(0, 0, 0, 0.75);
      -moz-box-shadow: 0px 10px 10px -9px rgba(0, 0, 0, 0.75);
      box-shadow: 0px 10px 10px -9px rgba(0, 0, 0, 0.5); }
      section .home-last-event .card-wrap .card .card-title {
        font-size: 1.6rem;
        font-weight: normal; }
      section .home-last-event .card-wrap .card .card-text {
        font-size: 1.4rem;
        color: grey; }
      section .home-last-event .card-wrap .card img {
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
        border-bottom: 1px solid rgba(0, 0, 0, 0.1);
        filter: grayscale(1);
        transition: all 0.3s ease;
        background-size: cover; }
        section .home-last-event .card-wrap .card img:hover {
          filter: grayscale(0); }
  section .home-last-event .btn {
    margin-top: 4rem; }

section .home-last-articles {
  padding: 5rem 0; }
  section .home-last-articles .card-wrap {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
    section .home-last-articles .card-wrap .card {
      width: 35rem;
      border-radius: 5px;
      margin-top: 2rem;
      -webkit-box-shadow: 0px 10px 10px -9px rgba(0, 0, 0, 0.75);
      -moz-box-shadow: 0px 10px 10px -9px rgba(0, 0, 0, 0.75);
      box-shadow: 0px 10px 10px -9px rgba(0, 0, 0, 0.5);
      position: relative;
      overflow: hidden; }
      section .home-last-articles .card-wrap .card .card-title {
        font-size: 1.6rem;
        font-weight: normal; }
      section .home-last-articles .card-wrap .card .card-date {
        position: absolute;
        top: 1rem;
        left: 1rem;
        width: 10rem;
        background-color: #dbec5e;
        text-align: center;
        font-size: 1.6rem;
        vertical-align: center;
        padding: 0.5rem 0.5rem; }
      section .home-last-articles .card-wrap .card .card-text {
        font-size: 1.4rem;
        color: grey; }
      section .home-last-articles .card-wrap .card img {
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
        border-bottom: 1px solid rgba(0, 0, 0, 0.1);
        filter: grayscale(1);
        transition: all 0.3s ease;
        background-size: cover; }
        section .home-last-articles .card-wrap .card img:hover {
          filter: grayscale(0); }
  section .home-last-articles .btn {
    margin-top: 4rem; }

section .footer-basic {
  padding: 40px 0;
  background-color: #272729;
  color: #4b4c4d; }
  section .footer-basic ul {
    padding: 0;
    font-size: 1.7rem;
    line-height: 1.6;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center; }
    section .footer-basic ul a {
      color: white; }
      section .footer-basic ul a:hover {
        color: #1995ad;
        text-decoration: none; }
  section .footer-basic li {
    padding: 1rem 0; }
  section .footer-basic .social {
    text-align: center;
    padding-bottom: 2.5rem; }
    section .footer-basic .social > a {
      font-size: 2.4rem;
      width: 4rem;
      height: 4rem;
      line-height: 4rem;
      display: inline-block;
      text-align: center;
      border-radius: 50%;
      border: 1px solid #ccc;
      margin: 0 0.8rem;
      color: white; }
      section .footer-basic .social > a:hover {
        color: #1995ad;
        border: 1px solid #1995ad; }
  section .footer-basic .copyright {
    margin-top: 1.5rem;
    text-align: center;
    font-size: 1.5rem;
    color: rgba(255, 255, 255, 0.5); }

/*# sourceMappingURL=styles.css.map */
