section
{
  .home-last-articles
  {
    padding: 5rem 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items : center;
    .card-wrap
    {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-wrap: wrap;
      .card
      {
        width: 35rem;
        border-radius: 5px;
        margin-top: 2rem;
        -webkit-box-shadow: 0px 10px 10px -9px rgba(0,0,0,0.75);
        -moz-box-shadow: 0px 10px 10px -9px rgba(0,0,0,0.75);
        box-shadow: 0px 10px 10px -9px rgba(0,0,0,0.5);
        position: relative;
        overflow: hidden;
        .card-date
        {
          position: absolute;
          top: 1rem;
          left: 1rem;
          width: 10rem;
          background-color: $yellow;
          text-align: center;
          font-size: 1.6rem;
          vertical-align: center;
          padding: 0.5rem 0.5rem;
        }
        img
        {
          border-top-left-radius: 5px;
          border-top-right-radius: 5px;
          border-bottom: 1px solid rgba(0, 0 ,0 , 0.1);
          filter: grayscale(1);
          transition: all 0.3s ease;
          background-size: cover;
          &:hover
          {
            filter: grayscale(0);
          }
        }
      }
    }
    .btn
    {
      margin-top : 4rem;
    }
  }
}


