section
{
  p
  {
    padding: 1rem 2rem;
  }
  .partners
  {
    margin: 2rem 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding : 1.5rem 2rem;
    flex-wrap: wrap;
    img
    {
      width: 30rem;
      margin: 2.5rem 2.5rem;
    }
  }
}