section
{
  .grid-registration
  {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
    grid-gap: 2rem;
    padding: 4rem;
    .registration-grid-item
    {
      background-color: #d2e9fd;
      height: auto;
      padding: 4rem;
      display: flex;
      justify-content: center;
      flex-direction: column;
      position: relative;
      .registration-text
      {
        text-align: center;
        a
        {
          color: rgba(0, 0, 0, 0.7);
          text-decoration: none;
          font-size: 1.5rem;
          &:hover
          {
            color: rgba(0, 0, 0, 1);
          }
        }
      }
    }
  }
}