*
{
  margin: 0;
  padding : 0;
  box-sizing: border-box;
}

html
{
  font-size: 10px;
  scroll-behavior: smooth;
}

body
{
  overflow-x: hidden;
  font-family : $oswald;
}

a,
button a,
.btn a
{
  text-decoration : none;
  color: white;
}

li
{
  list-style-type: none;
}

p
{
  font-size: 1.5rem;
}

img
{
  width : 100%;
  max-width: 100%;
  height: auto;
}

h2
{
  text-transform: uppercase;
  text-align: center;
  font-size: 3.6rem;
  letter-spacing: 4px;
  line-height: 32px;
  font-family: "Six Caps", sans-serif;
  font-weight: normal;
  color: #272729;
  padding: 15px 0;
}

.btn
{
  font-size: 1.4rem;
  padding: 1rem 2rem;
  background-color: white;
  border: 1px solid rgba(0, 0, 0, 0.1);
  color: gray;
  &:hover
  {
    background-color: $green;
    border: 1px solid rgba(0, 0, 0, 0.1);
    color: white;
  }
}
.card-title
{
  margin: 2rem 0;
}