$sixcaps:'six caps', sans-serif;
$oswald:'0swald', sans-serif;
$cantarell:'cantarell', sans-serif;
$fjalla:'fjalla', sans-serif;
$cardo:'cardo', serif;

$grey: #242626;
$yellow: #dbec5e;
$green: rgb(25, 149, 173);
$light-green: #d9fff5;
$pink: #ffe6e6;